<div class="countainer text-center">
    <button type="button" (click)="goBack()" class="btn btn-outline-dark">Save 'n' Back</button>
  <div class="row">
    <div class="text-center col-sm-12 col-md-12 col-lg-6">
      <app-hero-edit-detail [(hero)]="hero"></app-hero-edit-detail>
    </div>
    <div class="text-center col-sm-12 col-md-12 col-lg-6">
      <app-hero-detail [edit]="edit" [(hero)]="hero"></app-hero-detail>
    </div>
  </div>
    <button type="button" (click)="goBack()" class="btn btn-outline-dark">Save 'n' Back</button>
</div>