  <div class="text-center">
    <img src="http://mherman.org/assets/img/blog/angular-logo.png" class="img-fluid header-logo" alt="Responsive image">
    <h1 class="display-3">{{title}}</h1>
      <span class="lead tagline">Dive into the amazing creatures of 
        <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" class="img-thumbinail inline-logo">ngular's world!
      </span>
    <hr/>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
    <app-messages></app-messages>
  </div>
  <nav class="navbar sticky-bottom footer">
    <div class="container text-center">
        <img src="https://currys-ssl.cdn.dixons.com/css/themes/google/img/made-by-google.png" class="img-fluid footer-logo">
    </div>
  </nav>