<div 
  class="card">
  <div class="card-body">
    <div class="containter">
      <img 
        src="{{hero.thumb}}"
        class="hero-thumb rounded-circle"/>
      <hr> 
      <b><input type="text" [(ngModel)]="hero.name"></b>
      <hr/>
      <div class="row">
        <div class="col-4">
          <b class="card-descriptor">HID</b>
          <div><input type="text" class="edit-det" [(ngModel)]="hero.id"></div>
        </div>
        <div class="col-4">
          <b class="card-descriptor">Gender</b>
          <div><input type="text" class="edit-det" [(ngModel)]="hero.gender"></div>
        </div>
        <div class="col-4">
          <b class="card-descriptor">Origin</b>
          <div><input type="text" class="edit-det" [(ngModel)]="hero.origin"></div>
        </div>
        <div class="col-12">
          <hr>
        </div>
        <div class="col-12">
          <b class="card-descriptor">Description</b>
          <div class="card-desc"><textarea type="text"rows=3 [(ngModel)]="hero.desc"></textarea>
        </div>
      </div>
    </div> 
  </div>
</div>